<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Index</title>
</head>
<body>
<!--<div th:include="partials/navbar.html :: navbar"></div>-->

<div id="mainContainer" class="container-fluid">
    <img id="header-logo" th:src="@{img/CP_1.png}">
</div>

<div id="outside-menu" class="container-fluid rounded-circle">
    <div class="row h-100 d-flex justify-content-between">
        <div id="spinnerContainer" class="col-md-4 col-xs-12">
            <div class="spinner">
                <div class="face1"></div>
                <div class="face2"></div>
                <div class="face3"></div>
                <div class="face4"></div>
                <div class="face5"></div>
                <div class="face6"></div>
            </div>
        </div>
        <div id="spinnerContainer2" class="col-4">
            <div class="spinner">
                <div class="face1"></div>
                <div class="face2"></div>
                <div class="face3"></div>
                <div class="face4"></div>
                <div class="face5"></div>
                <div class="face6"></div>
            </div>
        </div>
    </div>
</div>


<div th:include="partials/footerScripts.html :: footerScripts"></div>
</body>
</html>