<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Index</title>
</head>
<body>
<div th:include="partials/navbar.html :: navbar"></div>

<div class="container-fluid p-0 m-0">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img id="header-logo" th:src="@{img/CP_1.png}">
        </div>
    <div>
</div>


<div th:include="partials/footerScripts.html :: footerScripts"></div>
</body>
</html>