<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Index</title>
</head>
<body>
<!--<div th:include="partials/navbar.html :: navbar"></div>-->

<div id="mainContainer" class="container-fluid">
    <img id="header-logo" th:src="@{img/CP_1.png}">
</div>

<div id="outside-menu" class="container-fluid rounded-circle">
    <div class="row h-100 d-flex justify-content-between">
        <div class="col-4">
            <div class="menuBtn ml-auto pr-2" id="button1"></div>
            <div class="menuBtn mr-auto pl-1" id="button2"></div>
            <div class="menuBtn ml-auto" id="button3"></div>
        </div>
        <div class="col-4">
            <div class="menuBtn mr-auto pl-2" id="button4"></div>
            <div class="menuBtn ml-auto pl-1" id="button5"></div>
            <div class="menuBtn mr-auto" id="button6"></div>
        </div>
    </div>
</div>


<div th:include="partials/footerScripts.html :: footerScripts"></div>
</body>
</html>